<div *ngIf="post" class="row">
  <div class="col-12">
    <a routerLink="/user/{{ post.user.id }}">
      <img src="http://img1.joyreactor.cc/pics/avatar/user/{{ post.user.id }}" [title]="post.user.username"
        [alt]="post.user.username">

      <span class="ml-2">{{ post.user.username }}</span>
    </a>
  </div>

  <div class="col-12">
    <hr>

    <a *ngFor="let blog of post.blogs" routerLink="/tag/{{ blog.id }}" [skipLocationChange]="true" [title]="blog.name"
      class="badge badge-pill badge-primary">
      {{ blog.name }}
    </a>
  </div>
</div>