<div *ngIf="type && year && week" class="container">
  <div class="card border-secondary mb-3">
    <div class="card-header">
      <div class="row">
        <div class="col-12 text-center">
          <h1>
            Топ
            <span *ngIf="type === topTypes.onlySWF">
              SWF
            </span>
            <span *ngIf="type === topTypes.all">
              SWF + NSFW
            </span>
            <span *ngIf="type === topTypes.onlyNSFW">
              NSFW
            </span>
            за {{ week }} неделю
            {{ year }} года
          </h1>
        </div>

        <div class="col-12">
          <app-top-pagination [type]="type" [maxYear]="maxYear" [year]="year" [minYear]="minYear" [maxWeek]="maxWeek" [week]="week"
            [minWeek]="minWeek"></app-top-pagination>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!posts" class="row">
    <div class="col-12 text-center">
      <div role="status" class="spinner-border text-warning" style="width: 3rem; height: 3rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <br> <br> <br>
  </div>

  <app-post-feed *ngFor="let post of posts" [post]="post"></app-post-feed>

  <app-top-pagination [type]="type" [maxYear]="maxYear" [year]="year" [minYear]="minYear" [maxWeek]="maxWeek" [week]="week"
    [minWeek]="minWeek"></app-top-pagination>
</div>