<div class="container">
  <div class="jumbotron">
    <h1 class="display-3 text-center">
      Спасибо, что решили принять участие в тестировании альтернативного клиента!
    </h1>

    <hr class="my-4">

    <p class="lead text-justify">
      Данный клиент является некоммерческим проектом с открытым исходным кодом.
      Вы можете самостоятельно ознакомиться с исходным кодом или даже внести правки.
      Дальнейшее развитие клиента зависит от множества факторов:
      загружености разработчиков клиента,
      скорости развития API сайта,
      обратной связи и популярности и пользователей.
    </p>

    <p class="lead text-justify">
      Из-за активной разработки как клиента так и API сайта могут возникать баги любого характера.
      Данный клиент не обладает полным функционала доступном на сайте.
      На текущем этапе клиент может лишь отображать контент с сайта без какой-либо обратной связи (readonly).
      Вы не сможете создать новый пост, изменить рейтинг, оставить комментарий и т.п.
      Несмотря на всю простоту клиента мы не гарантируем сохранность ваших данных.
      Все действия и операции проводимые в данном клиенте вы производите на свой страх и риск.
    </p>

    <p class="lead text-justify">
      Этот клиент построен без использования сторонних API или сервисов, за исключением телеметрии и статистики посещаемости.
      Ваши данные не будут предоставлены или проданы третьим лицам.
      Это также исключает возможность утечки данных так-как все данных хранятся только в вашем браузере.
      Соответственно только вы сами можете обезопасить ваши данные.
    </p>

    <hr class="my-4">

    <a href="https://github.com/illja96/joyreactor/issues/new" class="btn btn-outline-info btn-block btn-lg">
      Внести предложение
    </a>

    <a href="https://github.com/illja96/joyreactor/issues/new" class="btn btn-outline-warning btn-block btn-lg">
      Пожаловаться на баг
    </a>
  </div>
</div>