<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-warning">
        <h4 class="alert-heading">Внимание!</h4>
        <p class="mb-0">
          Теги с стандартной картинкой не отображаются в списке из-за
          <s>рукожопости разработчика</s>
          ограничений API
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="!tags" class="row">
    <div class="col-12 text-center">
      <div role="status" class="spinner-border text-info" style="width: 3rem; height: 3rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <br><br><br>
  </div>

  <div *ngIf="tags" class="row">
    <div *ngFor="let tag of tags" class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <app-tag-list-element [tag]="tag"></app-tag-list-element>
    </div>
  </div>
</div>