<blockquote *ngIf="comment" class="blockquote blockquote-light">
  <small>
    <app-post-comment-content [comment]="comment" [post]="post"></app-post-comment-content>
  </small>

  <footer class="blockquote-simple-footer">
    <div class="row">
      <div class="col-4 text-left">
        <a routerLink="/user/{{ comment.user.id }}">
          <img [alt]="post.user.username" src="http://img1.joyreactor.cc/pics/avatar/user/{{ comment.user.id }}"
            width="29px" height="29px">

          <span>
            {{ comment.user.username }}
          </span>
        </a>
      </div>
      <div class="col-4 text-center">
        <span>
          {{ comment.createdAt | date: 'short' }}
        </span>
      </div>
      <div class="col-4 text-right">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-success">+</button>
          <button type="button" disabled class="btn btn-outline-info">
            {{ comment.rating }}
          </button>
          <button type="button" class="btn btn-outline-danger">-</button>
        </div>
      </div>
    </div>
  </footer>

  <app-post-comment *ngFor="let reply of replies" [comment]="reply" [post]="post" [comments]="comments">
  </app-post-comment>
</blockquote>