<blockquote *ngIf="comment" class="blockquote blockquote-light">
  <small>
    <app-post-comment-content [comment]="comment" [post]="post"></app-post-comment-content>
  </small>

  <footer class="blockquote-simple-footer">
    <div class="row">
      <div class="col-4 text-left">
        <a routerLink="/user/{{ comment.user.id }}">
          <img src="http://img1.joyreactor.cc/pics/avatar/user/{{ comment.user.id }}" [title]="post.user.username"
            [alt]="post.user.username" width="29px" height="29px">

          <small>
            {{ comment.user.username }}
          </small>
        </a>
      </div>

      <div class="col-4 text-center">
        <small>
          {{ comment.createdAt | date: 'short' }}
        </small>
      </div>

      <div class="col-4 text-right">
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-outline-success">
            <small>
              <i class="far fa-smile"></i>
            </small>
          </button>
          <button type="button" disabled class="btn btn-outline-info">
            <small>
              {{ comment.rating | number : '1.0-2' }}
            </small>
          </button>
          <button type="button" class="btn btn-outline-danger">
            <small>
              <i class="far fa-frown"></i>
            </small>
          </button>
        </div>
      </div>
    </div>
  </footer>

  <app-post-comment *ngFor="let reply of replies" [comment]="reply" [post]="post" [comments]="comments">
  </app-post-comment>
</blockquote>