<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a routerLink="/" [title]="header" class="navbar-brand text-warning">
    JoyReactor
  </a>

  <button type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarConavbarlor01"
    aria-expanded="false" class="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
          class="nav-link dropdown-toggle">
          Лента
        </a>
        <div class="dropdown-menu">
          <a routerLink="/feed/new" [skipLocationChange]="true" class="dropdown-item" routerLinkActive="active">
            Новое
          </a>
          <a routerLink="/feed/all" [skipLocationChange]="true" class="dropdown-item" routerLinkActive="active">
            Всё
          </a>
          <a routerLink="/feed/good" [skipLocationChange]="true" class="dropdown-item" routerLinkActive="active">
            Хорошее
          </a>
          <a routerLink="/feed/best" [skipLocationChange]="true" class="dropdown-item" routerLinkActive="active">
            Лучшее
          </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
          class="nav-link dropdown-toggle">
          Обсуждаемое
        </a>
        <div class="dropdown-menu">
          <a routerLink="/discussion/all" [skipLocationChange]="true" class="dropdown-item" routerLinkActive="active">
            Всё
          </a>
          <a routerLink="/discussion/good" [skipLocationChange]="true" class="dropdown-item" routerLinkActive="active">
            Хорошее
          </a>
          <a routerLink="/discussion/flame" [skipLocationChange]="true" class="dropdown-item" routerLinkActive="active">
            Срачи
          </a>
          <a routerLink="/discussion/my" [skipLocationChange]="true" class="dropdown-item" routerLinkActive="active">
            Моё
          </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
          class="nav-link dropdown-toggle">
          Топ
        </a>
        <div class="dropdown-menu">
          <a routerLink="/top/swf" [skipLocationChange]="true" class="dropdown-item" routerLinkActive="active">
            Только SWF
          </a>
          <a routerLink="/top/all" [skipLocationChange]="true" class="dropdown-item" routerLinkActive="active">
            SWF + NSFW
          </a>
          <a routerLink="/top/nsfw" [skipLocationChange]="true" class="dropdown-item" routerLinkActive="active">
            Только NSFW
          </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
          class="nav-link dropdown-toggle">
          Теги
        </a>
        <div class="dropdown-menu">
          <a routerLink="/tags/rating" [skipLocationChange]="true" class="dropdown-item" routerLinkActive="active">
            По рейтингу
          </a>
          <a routerLink="/tags/subscribers" [skipLocationChange]="true" class="dropdown-item" routerLinkActive="active">
            По подписчикам
          </a>
        </div>
      </li>
    </ul>

    <div class="my-2 my-lg-0">
      <a *ngIf="!isAuthorized" routerLink="/auth/login" type="submit" class="btn btn-outline-info mr-sm-2">
        Вход
      </a>
      <button *ngIf="isAuthorized" (click)="onLogoutClick()" class="btn btn-outline-warning mr-sm-2">
        Выход
      </button>
    </div>
  </div>
</nav>