<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a routerLink="" class="navbar-brand">JoyReactor</a>

  <button type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarConavbarlor01"
    aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
          class="nav-link dropdown-toggle">
          Лента
        </a>
        <div class="dropdown-menu">
          <a routerLink="feed/new" class="dropdown-item">Новое</a>
          <a routerLink="feed/good" class="dropdown-item">Хорошее</a>
          <a routerLink="feed/best" class="dropdown-item">Лучшее</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
          class="nav-link dropdown-toggle">
          Топ
        </a>
        <div class="dropdown-menu">
          <a routerLink="top/week" class="dropdown-item">Неделя</a>
          <a routerLink="top/year" class="dropdown-item">Год</a>
        </div>
      </li>
    </ul>

    <div class="my-2 my-lg-0">
      <a *ngIf="!isAuthorized" routerLink="auth/login" class="btn btn-outline-info mr-sm-0" type="submit">Вход</a>
      <button *ngIf="isAuthorized" (click)="onLogoutClick()" class="btn btn-outline-warning mr-sm-0">Выход</button>
    </div>
  </div>
</nav>