<div *ngIf="post" class="card border-secondary mb-3">
  <div class="card-header">
    <div class="row">
      <div class="col-12">
        <a routerLink="/user/{{ post.user.id }}">
          <img [alt]="post.user.username" src="http://img1.joyreactor.cc/pics/avatar/user/{{ post.user.id }}">

          <span class="ml-2">{{ post.user.username }}</span>
        </a>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">
        <a *ngFor="let blog of post.blogs" routerLink="/tag/{{ blog.id }}" [title]="blog.name"
          class="badge badge-pill badge-primary">
          {{ blog.name }}
        </a>
      </div>
    </div>
  </div>

  <div [innerHtml]="bodyHtml" class="card-body card-text"></div>

  <div class="card-footer text-muted">
    <div class="row">
      <div class="col-6 text-left">
        {{ post.createdAt | date: 'short' }}
      </div>
      <div class="col-6 text-right">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-success">+</button>
          <button type="button" disabled class="btn btn-outline-info">
            {{ post.rating }}
          </button>
          <button type="button" class="btn btn-outline-danger">-</button>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-12">
        <button class="btn btn-outline-info btn-sm btn-block">
          Коментарии ({{ post.commentsCount }})
        </button>
      </div>
    </div>

    <div *ngIf="post.bestComments">
      <br>
      <app-post-best-comments [comments]="post.bestComments"></app-post-best-comments>
    </div>
  </div>
</div>