<div *ngIf="post" [id]="post.id" class="card border-secondary mb-3">
  <div class="card-header">
    <div class="row">
      <div class="col-12">
        <a routerLink="/user/{{ post.user.id }}">
          <img src="http://img1.joyreactor.cc/pics/avatar/user/{{ post.user.id }}" [title]="post.user.username"
            [alt]="post.user.username">

          <span class="ml-2">{{ post.user.username }}</span>
        </a>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12">
        <a *ngFor="let blog of post.blogs" routerLink="/tag/{{ blog.id }}" [skipLocationChange]="true"
          [title]="blog.name" class="badge badge-pill badge-primary">
          {{ blog.name }}
        </a>
      </div>
    </div>
  </div>

  <div class="card-body">
    <app-post-content [post]="post"></app-post-content>
  </div>

  <div class="card-footer text-muted">
    <div class="row">
      <div class="col-4 text-left">
        {{ post.createdAt | date: 'short' }}
      </div>

      <div class="col-4 text-center">
        <app-post-index-share [post]="post"></app-post-index-share>
      </div>

      <div class="col-4 text-right">
        <button class="btn btn-sm btn-outline-warning">
          <i class="fas fa-star"></i>
        </button>

        &nbsp;
        <div class="btn-group btn-group-sm" role="group" aria-label="Post rating">
          <button type="button" class="btn btn-outline-success">
            <i class="far fa-smile"></i>
          </button>
          <button type="button" disabled class="btn btn-outline-info">
            {{ post.rating | number : '1.0-2' }}
          </button>
          <button type="button" class="btn btn-outline-danger">
            <i class="far fa-frown"></i>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="post.bestComments?.length !== 0">
      <br>
      <app-post-best-comments [post]="post" [comments]="post.bestComments"></app-post-best-comments>
    </div>

    <br>
    <div class="row">
      <div class="col-12">
        <button [disabled]="post.commentsCount === 0" class="btn btn-outline-warning btn-sm btn-block">
          Комментарии ({{ post.commentsCount }})
        </button>
      </div>
    </div>
  </div>
</div>