<div class="container">
  <div *ngIf="tag" class="card border-secondary mb-3">
    <div class="card-header">
      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9 text-left">
          <h3>{{ tag.name }}</h3>

          <span *ngIf="tag.synonyms && tag.name !== tag.synonyms">
            {{ tag.synonyms }}
          </span>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 text-right">
          <img src="http://img1.joyreactor.cc/pics/avatar/tag/{{ tag.id }}" [title]="tag.name" [alt]="tag.name"
            width="96px" height="96px">
        </div>
      </div>
    </div>

    <div *ngIf="posts && tag && page && lastPage" class="card-body">
      <app-tag-index-pagination [tag]="tag" [page]="page" [lastPage]="lastPage"></app-tag-index-pagination>
    </div>
  </div>

  <div *ngIf="!posts && lastPage !== null" class="row">
    <div class="col-12 text-center">
      <div role="status" class="spinner-border text-warning" style="width: 3rem; height: 3rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <br> <br> <br>
  </div>

  <app-post-feed *ngFor="let post of posts" [post]="post"></app-post-feed>

  <div *ngIf="posts && page && page !== 1" class="row">
    <div class="col-12">
      <button (click)="loadNextPage()" [disabled]="nextPageLoading" class="btn btn-outline-info btn-lg btn-block">
        <span *ngIf="!nextPageLoading">
          Загрузить следующую страницу
        </span>
        <div *ngIf="nextPageLoading" role="status" class="spinner-border text-info" style="width: 2rem; height: 2rem;">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </div>
  </div>

  <div *ngIf="posts && tag && page && lastPage">
    <br>
    <app-tag-index-pagination [tag]="tag" [page]="page" [lastPage]="lastPage"></app-tag-index-pagination>
  </div>
</div>